body, html {
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

header {
    background-color: #141414;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    width: 100px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 100px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.main-banner img {
    width: 50%;
    height: auto;
}

.container {
    padding: 20px;
}

.top10-grid,.movie-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.movie img {
    width: 100%;
    display: block;
}

button.prev, button.next {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size:30px;
    padding: 10px;
    cursor: pointer;
}

button.prev {
    left: 0;
}

button.next {
    right: 0;
}

footer {
    background-color: #141414;
    color: white;
    text-align: center;
    padding: 10px 0;
}