body, html {
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

header {
    background-color: #141414;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    width: 100px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 100px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.main-banner img {
    width: 50%;
    height: auto;
}

.container {
    padding: 20px;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.movie img {
    width: 100%;
    display: block;
}

button.prev, button.next {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size:30px;
    padding: 10px;
    cursor: pointer;
}

button.prev {
    left: 0;
}

button.next {
    right: 0;
}
/*.slider-container {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 20px 0;
}*/

.top10-grid {
    display: flex;
    transition: transform 0.5s ease-in-out;
    grid-template-columns: repeat(4, 1fr);
    will-change: transform;
}
.top10-grid .movie {
    flex: 0 0 12.5%; /* 각 항목의 너비를 슬라이더 컨테이너의 25%로 설정 */
}

.slider-container .prev, .slider-container .next {
    cursor: pointer;
    position: absolute; /* 절대 위치 설정 */
    top: 50%; /* 세로 중앙에 위치 */
    transform: translateY(-50%); /* 세로 중앙 정렬 */
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경색 설정 */
    color: white; /* 버튼 텍스트 색상을 흰색으로 설정 */
    border: none; /* 버튼 테두리 제거 */
    padding: 10px; /* 버튼 내부 여백 설정 */
    z-index: 1; /* 버튼이 다른 요소들 위에 표시되도록 설정 */
}

.slider-container .prev {
    left: 0;
}

.slider-container .next {
    right: 0;
}

footer {
    background-color: #141414;
    color: white;
    text-align: center;
    padding: 10px 0;
}